{% extends 'base.html' %}

{% block content %}



    <div class="p-3">
        <a class="btn btn-primary btn-lg" href="{% url "webapp:token_generator_view" image.pk %}">Generate Token</a>
    </div>


    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Image</th>
            <th scope="col">Sign</th>
            <th scope="col">Author</th>
            <th scope="col">Album</th>
            <th scope="col">Date Created</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <th scope="row">{{ image.id }}</th>

            {% if image.image %}
                <td><img class="image" src="{{ image.image.url }}" height="100" width="100" alt="Product Image"></td>
            {% else %}
                <td><img class="image" height="100" width="100"
                         src="https://pbs.twimg.com/profile_images/1354379504920256513/4Ox0Xqft_400x400.jpg"
                         alt="Product Image"></td>
            {% endif %}
            <td>{{ image.sign }}</td>
            <td>{{ image.sign }}</td>
            <td>{{ image.author }}</td>


    </table>

      {% if image.token %}
          <a href={% url "webapp:image_detail_uuid_view" image.token %}>http://localhost:8000/image/token/{{ image.token}}/detail/view/</a>
      {% endif %}

    {#    <table class="table">#}
    {##}
    {##}
    {#        <thead>#}
    {#        <tr>#}
    {#            <th scope="col">Author</th>#}
    {#            <th scope="col">Email</th>#}
    {#            <th scope="col">Description</th>#}
    {#            <th scope="col">Mark</th>#}
    {#            <th scope="col">Average</th>#}
    {##}
    {#        </tr>#}
    {#        </thead>#}
    {#        <tbody>#}
    {#                        <h2>Reviews</h2>#}

    {#        {% for review in reviews %}#}
    {#            <tr>#}
    {#                <td>{{ review.author}}</td>#}
    {#                <td>{{ review.author.email}}</td>#}
    {#                <td>{{ review.review_text }}</td>#}
    {#                <td>{{ review.mark }}</td>#}
    {#                <td>{{ review.product.get_avarage}}</td>#}
    {##}
    {#                <td><a class="btn btn-primary btn-sm ps-3 pe-3" href="{% url "task_view" review.pk %}"><i#}
    {#                        class="fas fa-info"></i></a></td>#}
    {##}
    {#                {% if perms.tracker.delete_task and task.project.user.all %}#}
    {#                    <td><a class="btn btn-primary btn-sm ps-3 pe-3" href="{% url "otzovik:review_delete_view" review.pk %}"><i#}
    {#                            class="fas fa-trash-alt"></i></a></td>#}
    {#                {% endif %}#}
    {##}
    {#                {% if perms.tracker.change_task  and task.project.user.all %}#}
    {#                    <td><a class="btn btn-primary btn-sm ps-3 pe-3" href="{% url "otzovik:review_update_view" review.pk %}"><i#}
    {#                            class="far fa-edit"></i></a></td>#}
    {#                    </tr>#}
    {#                {% endif %}#}
    {##}
    {##}
    {#        {% endfor %}#}
    {#    </table>#}

    {#     {% if perms.tracker.add_task and request.user in project.user.all %}#}
    {#        <div class="p-3">#}
    {#            <a class="btn btn-primary btn-lg" href="{% url "otzovik:product_review_create" product.pk %}">Create Review</a>#}
    {#        </div>#}
    {#    {% endif %}#}

{% endblock %}